@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    background: lightsalmon;
}
h1, h2{
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    color: wheat;
    letter-spacing: 7px;
}
h2 {
    font-size: 18px;
}
nav {
    position: absolute;
    width: 100vw;
    height: 50px;
    background: forestgreen;
    color: white;
    display: flex;
}
#appName {
    align-self: center;
    justify-self: right;
}
#appName span {
    background: wheat;
    border-radius: 100px;
    padding: 5px;
    color: forestgreen;
    font-size: 16px;
}
#hero{
    background-image: url('https://www.themealdb.com/images/media/meals/uwxusv1487344500.jpg');
    height: 180px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 2s;
    transition-delay: 0.5s;
}
#searchForm {
    background: wheat;
    width: 100vw;
    border-bottom: 2px solid forestgreen;
    margin: 0 auto;
}
#searchField{
    width: 100%;
    border: none;
    padding:0 0 5px 0;
}
#formHeader{
    background: forestgreen;
    width: 100%;
    padding: 10px;
}
#searchField label {
    color: black;
    padding: 0 10px;
}
#foodName {
    display: block;
    width: 90%;
    border: 2px solid forestgreen;
    color: gray;
    border-radius: 50px;
    padding: 15px;
    margin: 5px auto;
}
#search {
    display: block;
    width: 90%;
    margin: 5px auto;
    background: tomato;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
#search:hover {
    background: lightsalmon;
}
#non-search {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: none;
}
#non-search button{
    flex: 1;
    background: tomato;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
#non-search button:hover{
    background: lightsalmon;
}

#recent {
    margin-right: 5px;
}
#browse{
    margin-left: 5px;
}

.hidden {
    display: none;
}
#results {
    padding-left: 0;
}
#results li{
    list-style-type: none;
}
#subheader{
    background: tomato;
    /* margin: 10px auto; */
    padding: 10px;
    font-weight: bold;
}
.dish {
    border-bottom: 2px solid forestgreen;
    background: white;
}
.dish:nth-child(even){
    background: wheat;
}
.dish:nth-last-child(1){
    border-bottom: none;
}

.dish-name{
    color: wheat;
    background: forestgreen;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    padding: 0 10px;
}
.dish-info{
    display: flex;
    max-height: 250px;
    /* background: wheat; */
}

.dish-img{
    /* width: 25vw; */
    flex: 1;
    margin: 0;
    /* height: 150px; */
    max-width: 150px;
}
.dish-info h4{
    font-size: 16px;
    margin-bottom: 0;
}
.dish-links{
    flex: 1;
    height: 150px;
}
.dish-tags{
    padding: 0 10px;
}
.dish-tags li{
    font-size: 14px;
    margin: 3px auto;
}

.view-btn, .hide-btn{
    margin-top: 5px;
    padding: 10px;
    width: 150px;
    background: tomato;
    border: none;
    border-radius: 50px;
}
.dish-info button:hover{
    background: lightsalmon;
    cursor: pointer;
}
.instant-search{
    max-width: 250px;
    color: black;
    margin: 10px auto;
    white-space: nowrap;
    background: palegreen;
    border: 2px solid forestgreen;
    border-radius: 50px;
    padding: 5px 15px;
}
.instant-search:hover{
    background: forestgreen;
    cursor: pointer;
}
.instant-search:hover::before{
    background: forestgreen;
    width: 100%;
    margin-left: 0;
}


.tooltip {
    background: tomato;
    color: wheat;
    width: 100%;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90%;
    background: lightsalmon;
    color: black;
    border: 2px solid tomato;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 55%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent lightsalmon transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#ingredients-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#ingredients-list li{
    margin: 2px 10px;
    background: palegreen;
    width: 200px;
    flex: 1;
    white-space: nowrap;
}

#ingredients-list li:hover{
    background: forestgreen;
}

#video-list{
    background: tomato;
    color: wheat;
    padding: 0;
    margin: 0;
    width: 100%;
}
#related-vids{
    padding: 0;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: left; */
}
.video{
    list-style-type: none;
    flex: 1;
    /* max-width: 100px; */
    margin: 5px 0;
}
@media only screen and (min-width: 720px){    
    .dish{
        width: 520px;
    }
    #searchForm fieldset {
        width: 520px;
    }
    #formHeader {
        background-image: linear-gradient(to left, wheat, forestgreen, forestgreen, forestgreen, forestgreen, wheat);
    }
}