@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
body {
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}
h1, h2{
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    color: wheat;
    letter-spacing: 7px;
}
h2 {
    font-size: 18px;
}
nav {
    position: absolute;
    width: 100vw;
    height: 50px;
    background: forestgreen;
    color: white;
    display: flex;
}
#icon {
    position: absolute;
    margin-left: 0px;
}
#appName {
    margin-right: 10px;
    align-self: center;
    justify-self: right;
}
#appName span {
    background: wheat;
    border-radius: 100px;
    padding: 5px;
    color: forestgreen;
    font-size: 16px;
}
#hero{
    background-image: url('https://www.themealdb.com/images/media/meals/uwxusv1487344500.jpg');
    height: 180px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 2s;
    transition-delay: 0.5s;
}
#searchForm {
    background: wheat;
    width: 100vw;
    border-bottom: 2px solid forestgreen;
    margin: 0 auto;
}
#searchForm fieldset{
    width: 100%;
    border: none;
    padding:0 0 5px 0;
}
#formHeader{
    background: forestgreen;
    width: 100%;
    padding: 10px;
}
fieldset label {
    color: black;
    padding: 0 10px;
}
#foodName {
    display: block;
    width: 90%;
    border: 2px solid forestgreen;
    color: gray;
    border-radius: 50px;
    padding: 15px;
    margin: 5px auto;
}
#search {
    display: block;
    width: 90%;
    margin: 5px auto;
    background: tomato;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
#search:hover {
    background: lightsalmon;
}
#non-search{
    display: flex;
}
#non-search {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#non-search button{
    flex: 1;
    /* width: 40%; */
    /* margin: 5px 0; */
    background: tomato;
    border: none;
    border-radius: 50px;
    padding: 10px;
}
#non-search button:hover{
    background: lightsalmon;
}

#recent {
    margin-right: 5px;
}
#browse{
    margin-left: 5px;
}

.hidden {
    display: none;
}
#results {
    padding-left: 0;
}
#results li{
    list-style-type: none;
}
#unavailable{
    color: tomato;
    margin: 10% auto;
    padding: 20px;
    font-weight: bold;
}
.dish {
    border-bottom: 2px solid forestgreen;
    /* width: 100%; */
}

.dish-name{
    color: wheat;
    background: forestgreen;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    padding: 0 10px;
}
.dish-info{
    display: flex;
    max-height: 250px;
    /* background: wheat; */
}
#results .dish:nth-child(even){
    background: wheat;
}
.dish-img{
    /* width: 25vw; */
    flex: 1;
    margin: 0;
    /* height: 150px; */
    max-width: 150px;
}
.dish-info h4{
    font-size: 16px;
    margin-bottom: 0;
}
.dish-links{
    flex: 1;
    height: 150px;
}
.dish-tags{
    padding: 0 10px;
}
.dish-tags li{
    font-size: 14px;
    margin: 3px auto;
}

.view-btn{
    margin-top: 5px;
    padding: 10px;
    width: 150px;
    background: tomato;
    border: none;
    border-radius: 50px;
}
.dish-info button:hover{
    background: lightsalmon;
    cursor: pointer;
}
#categoryItems{
    background: tomato;
    padding: 10px;
    border-radius: 20px;
    width: 280px;
}
.instant-search{
    width: 150px;
    color: black;
    margin: 10px auto;
    background: palegreen;
    border: 2px solid forestgreen;
    border-radius: 50px;
    padding: 5px 15px;
}
.instant-search:hover{
    background: forestgreen;
    cursor: pointer;
}
.instant-search:hover::before{
    background: forestgreen;
    width: 100%;
    margin-left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    background: forestgreen;
    color: white;
    width: 100vw;
    padding: 10px 0;
}
.social-icon {
    margin: 5px 5px 0 5px;
    border-radius: 100%;
}